:root {

	--card-background-color: white;
	--card-font-size: clamp(1.5rem, 1.5rem, 1.5rem);
	--card-imag-width: clamp(5rem, 10vw, 4rem);
	

}

.examples  {
	padding-block: clamp(3rem, 30vw, 6rem);
	display: flex;
	justify-content: space-around;
}

.card {
	flex: 0 0 clamp(calc(2 * var(--card-imag-width)), 18%, 25rem);
	min-height: clamp(3rem, 25vw, 50rem);
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	background: var(--card-background-color);
	border-radius: 20px;
	box-shadow: var(--shadow);
}

.card:hover {
	transform: translateZ(8px);
}

.card img {
	width : var(--card-imag-width);
	height: auto;
}

@media (max-width: 800px) {
	.examples {
		flex-flow: wrap row;
		row-gap: 1rem;
	}
	img {
		width: 3.5rem;
	}
}
