:root {
	--card-background-color: white;
	--card-imag-width: clamp(4rem, 7vw, 8rem);
}

.examples {
	padding-block: clamp(3rem, 30vw, 6rem);
	display: flex;
	justify-content: space-around;
}

.examples .card {
	flex: 0 0 clamp(calc(2 * var(--card-imag-width)), 18%, 25rem);
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	background: var(--surface-color);
	border-radius: 20px;
	box-shadow: var(--shadow);

	height: fit-content;
	box-sizing: content-box;
	padding-block: 3rem;
}

.examples .card:hover {
	transform: scale(1.02);
}

.examples .card img.icon {
	width : var(--card-imag-width);
	height: auto;
	margin: 1rem;
	padding: .5rem;
	margin: .3rem;
}

.examples .card p.text {
	color: var(--primary-color);
	font-family: var(--heading-font);

	padding: 1rem;
}

@media (max-width: 800px) {
	.examples {
		flex-flow: wrap row;
		row-gap: 1rem;
	}
	.examples .card img {
		width: 3.5rem;
	}
}
