:root {
	a-background-color: #0F172A;
}

footer {
/*	padding-bottom: clamp(1rem, 15vw, 3rem);*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	border-top: 1px black solid;

	transition: all .3s ease;
}

footer a:hover {
	background-color: #f2f2f2;
	transform: translateY(-1px) scale(1.03);
}

footer 
footer .ligne-one {
	padding-bottom: clamp(0.5rem, 7vw, 1.5rem);
	display: flex;
	flex-flow:f nowrap column;
	align-items: stretch;
}

footer .ligne-one .top {
	padding-block: clamp(0.33rem, 4vw, 1rem) clamp(0.5rem, 7vw, 1.5rem);
	padding-inline: clamp(0.5rem, 7vw, 1.5rem);
	flex: 0 0 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 0.5rem;
	align-items: flex-start;
	border-bottom: 1px gray solid;
}

@media (max-width: 800px) {
	.footer .ligne-one .top {
		flex-wrap: wrap;
	}
}
footer .ligne-one .top > * {
	display: flex;
	flex-flow: nowrap column;
}
footer .ligne-one .top div {
	padding: 0.3em;
}
footer .ligne-one .top img {
	max-width:45px;
	max-height: 45px;
}

footer .ligne-one .bottom {
	padding-block: clamp(0.5rem, 7vw, 1.5rem);
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid gray;
}

.ligne-tew {
	padding-block: clamp(0.5rem, 7vw, 1.5rem);
	padding-inline: clamp(0.5rem, 7vw, 1.5rem);
	display: flex;
	justify-content: flex-end;
	gap: max(3vw, 0.5rem);
	border-bottom: 1px gray solid;
}

footer .ligne-tew .icon {
	height: 35px;
	width: 35px;
}

footer .ligne-tree {
	padding-block: clamp(0.5rem, 7vw, 1.5rem);
	justify-self: flex-end;
}

footer > *:not(.ligne-one),
.ligne-one .bottom {
	padding-left: 5%;
}
