/*====================Header====================*/
:root {
	--header-font-size: clamp(0.9rem, 1vw, 1.4rem)
	--header-border-bottom-color: #E5E7EB;
}
a { 
	text-decoration: none;
	color: inherit;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: var(--header-height);
	min-height: fit-content;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	z-index: 1000;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 clamp(1rem, 4vw, 3rem);
	white-space: nowrap;
	font-size: var(--header-font-size);
	gap: 1rem;
}

header .left-part-t,
header .center-part {
	flex: 1 1 20%;
	font-size: var(--header-font-size);
}

/*===========Left Part============*/
header .left-part-t {
	display: flex;
	align-items: center;
}

header .left-part-t .left-part {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header .left-part-t .left-part .c-name {
	font-family: var(--heading-font);
	font-size: calc(var(--header-font-size) * 1.6);
	font-weight: 700;
	color: var(--text-color);
}

header .left-part-t .left-part .slogan {
	font-family: var(--text-font);
	color: var(--muted-color);
	font-size: calc(var(--header-font-size) * 0.9);
}

/*=========Center Part===========*/
header .center-part {
	display: flex;
	justify-content: space-around;
	gap: 0.3rem;
	align-items: center;
}

header .center-part a {
	color: var(--text-color);
	font-size: var(--body-font);
	font-weight: 500;

	padding: 1em clamp(0.25em, 1.5vw, 1.8em);
	border-radius: 0.2em;
}

header .center-part a:hover,
header .center-part a.active {
	color: var(--accent-color);

	background: rgb(255 255 255 / 35%);
}

/*=======Right Part==========*/
header .right-part {
	flex: 1 1 20%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

header .right-part .shop,
header .right-part .contact {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: calc(var(--header-font-size) * 1.1);
	padding: 1em 1.8em;
	border-radius: 0.5em;
	max-height: calc(var(--header-height) * 0.8);
}

header .right-part .shop {
	color: var(--primery-color);
	font-weight: 600;

	background: var(--accent-color);

	transition: all 200ms ease 200ms;
}

header .right-part .contact {
	border: currentColor solid 1px;

	transition: all 200ms ease 200ms;
}

/*---hover---*/
header .right-part a.shop:hover {
	transform: scale(1.02);
	outline: 1px solid black;
}

header .right-part a.contact:hover {
	transform: scale(1.02);

	color: white;

	background-color: black;
	border: black solid 1px;
}

/*---Responsive---*/
@media (max-width: 940px) {
	header .center-part {
		display: none;
	}

	header .left-part-t {
		flex: 1;
	}

	header .right-part {
		flex: 0 0 auto;
	}
}

@media (max-width: 700px) {
	header .right-part .contact {
		display: none;
	}
}

@media (max-width: 400px) {
	header .right-part a.shop {
		flex-shrink: 1;
		padding: 15% 10%;
		font-size: clamp(0.7rem, 5vw, 999px);
	}

	header .left-part-t .left-part p.c-name {
		flex-shrink: 1;
		font-size: clamp(0.75rem, 5.5vw, 999px);
	}

	header .left-part-t .left-part p.slogan {
		font-size: clamp(0.56rem, 4vw, 999px);
		white-space: normal;
	}

	header {
		gap: 2rem;
	}
}

