:root {
	--hero-title-font-size:clamp(2.3rem, 5vw, 5rem);
	--font-size:1rem;
	--hero-background-color: linear-gradient(180deg, #F8FAFC, #EEF4FF);
}


.hero {
	display: flex;
	min-height: calc(100vh - var(--header-height));
	align-items: stretch;
	background-color: var(--hero-background-color);
	padding-inline: 5%;
}

/*=======hero-left============*/
.hero .left {
	flex: 0 0 55vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 7vh;
	padding-block: 5vh 5vh;
}

.hero .left .sub-title {
	color: var(--secondary-color);
	font-weight:600;
	letter-spacing:.05em;

	text-transform: capitalize;
}

.hero .left .title {
	color: var(--primary-color);
	font-size:var(--hero-title-font-size);
	font-weight: 700;
}

.hero .left .cta-container {
	display: flex;
	flex-direction: column ;
	gap: 1vh;
}

.hero .left .cta-container .top .shop {
	color: var(--text-color);
	font-family: var(--heading-font);

	background-color: var(--accent-color);
}

.hero .left .cta-container .top .contact:hover {
	background-color: var(--accent-color);
}

.hero .left .cta-container .top .contact {
	color: var(--text-color);
	font-family: var(--heading-font);

	border-color: var(--accent-color);
}

.hero .left .cta-container .bottom .slogan {
	color: var(--muted-color);
	font-family: var(--body-font);
}
/*=======hero-right===========*/
.hero .right {
	flex: 0 0 35vw;
	background: url(../assets/images/chair-removebg-preview.png) no-repeat center / contain;
}

/*========responsive==========*/
@media (max-width:900px) {
	.hero .left {
		flex: 1;
		text-align: center;
		align-items: center;
	}
	.cta-container > .cta {
		display: flex;
		flex-direction: column;
		gap: 3vw;
	}
	.hero .contact {
		display: block
	}

	.hero .right {
		display: none;
		flex: none;
	}
}


