.partners {
	padding-block: 3vw;
	height: fit-content;
	text-align: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	gap: 4vw;
}

.partners section {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	gap: 3vw;
}

.partners section div {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 40%;
	gap: 2vw;
}

.partners .logo {
	max-height: 2rem;
	aspect-ratio: 1;
}
