.partners {
	padding-top: 6vh;
	height: fit-content;
	text-align: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	gap: 8vh;
}

.partners section {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	gap: 6vh;
}

.partners section div {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 40%;
	gap: 4vh;
}
