.recomended {
	padding-block: clamp(1rem, 15vw, 3rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6vh;
}

.recomended section {
	display: flex;
	width: 100%;
	padding: 0 5% 0 5%;
	gap: 5%;
}

.recomended section .left,
.recomended section .right {
	flex: 0 0 50%;
}

.recomended section .left > *,
.recomended section .right > * {
	padding: 1vw;
}
.recomended .left div p,
.recomended .right div p {
	font-size : 0.9rem;
	color: rgb(0 0 0 / 80%);
}

