.reviews {
	padding-block: clamp(1rem, 15vw, 3rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4vw;
	height: 70%;
}

.reviews section {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2vw;
	align-items: center;
	margin-inline: 2rem;
}

.reviews section div {
	width: 40rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2rem;
}


.reviews section div img {
	height: 4rem;
	aspect-ratio: 1;
	margin: 1rem
}
