.selected {
	height: 90vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 7vh;

}

.products {
	display: flex;
	justify-content: space-around;
	height: 60vh;
	
}
.product {
	flex: 0 0 23%;
	background-color: rgb(255 255 255 / 20%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5vw;

}
