.selected {
	padding-block: clamp(3rem, 30vw, 6rem);
	padding-inline: clamp(0.5rem, 2.5vw, 4rem);
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 7vw;
}

.track {
	display: flex;
	flex-flow: nowrap row;
	align-items: center;
	justify-content: space-around;
	gap: clamp(12px, 1.5vw, 30px); 
	transition: transform .4s;
	
}

.viewport {
	display: flex;
	overflow: hidden;
	border: 1px solid black;

}

.product {
	min-height: 4rem;
	flex: 0 1 300px;
	padding-inline: 2rem;
	padding-block: 2rem;
	gap: 2vw; 

	background-color: rgb(250 230 255 / 100%);
	display: flex;
	flex-flow: nowrap column;
	justify-content: center;
	align-items: center;
	border-radius: 0.5vw;
}

.slider {
	display: flex;
	position: relative;
/*	justify-content: space-between;*/
}

.selected .prev,
.selected .next {
	z-index: 2;
	position: absolute;
/*	justify-self: space-between;*/
	align-self: center;
	padding: 0.4rem;
}

.selected .prev {
	left: 0;
/*	justify-self: flex-start;*/
	margin-left: 0.5rem;
}

.selected .next {
	right: 0;
/*	justify-self: flex-end;*/
	margin-right: 0.5rem;
}


@media (max-width: 800px){
	.track {
		gap: 12px;
	}
}
