.trusted {
	height: 50vh;
	width: 100%;
	display: flex;
	flex-flow: nowrap column;
	gap: 6vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.trusted div {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.trusted p {
	flex: 0 0 23%;
}


	

